html, body {
    overflow: hidden;
    height: 100%;
    margin: 0px;
    padding: 0;
    background-color: #FFF;

    font-family: Verdana;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@keyframes fadeout {
  from {
      opacity:1;
  }
  to {
      opacity:1;
  }
}

@keyframes shake {
  0% { transform: translate(3px, 0px); }
  10% { transform: translate(-3px, 0px); }
  20% { transform: translate(3px, 0px); }
  30% { transform: translate(-3px, 0px); }
  40% { transform: translate(3px, 0px); }
  50% { transform: translate(-3px, 0px); }
  60% { transform: translate(3px, 0px); }
  70% { transform: translate(-3px, 0px); }
  80% { transform: translate(3px, 0px); }
  90% { transform: translate(-3px, 0px); }
  100% { transform: translate(0px, 0px); }
}

.usernameformid {
  height: 0px;
  opacity: 0;
}

.usernameform {
  animation: fadein 2s;

  height: 100px;
  position: absolute;

  text-align: center;
  top: 45%;
  width: 100%;

}

.usernameInput {
  -webkit-transition: border-bottom 0.5s linear;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  font-size: 200%;
  letter-spacing: 3px;
}

.usernameInput:focus {
  border-bottom: 2px solid #48845A;
}


.usernameInput::-webkit-input-placeholder  {
  -webkit-transition: opacity 0.5s linear;
}

.usernameInput:focus::-webkit-input-placeholder  {
  opacity: 0;
}

.joingame {
  animation: fadein 2s;
  text-align: center;

  position: absolute;
  top: 40%;
  margin-left: 10%;
  width: 30%;

  border: 3px solid #000;
  padding: 1em;
  height: 10em;
}

.hostgame {
  animation: fadein 2s;
  text-align: center;

  position: absolute;
  top: 40%;
  margin-left: 59%;
  width: 30%;

  border: 3px solid #000;
  padding: 1em;
  height: 10em;
}

.gamecodeInput {
  -webkit-transition: border-bottom 0.5s linear;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  width: 80%;
  font-size: 120%;
  letter-spacing: 3px;
}

.gamecodeInput:focus {
  border-bottom: 2px solid #48845A;
}

.gamecodeInput::-webkit-input-placeholder  {
  -webkit-transition: opacity 0.5s linear;
}

.gamecodeInput:focus::-webkit-input-placeholder  {
  opacity: 0;
}

#hostcode{
  padding-top: 10px;
  padding-bottom: 15px;
}

#lobbyerror {
  color: red;
  opacity: 0;
}

#sizeerror {
  color: red;
  opacity: 0;
}
